
body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: 0;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 12rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
 }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
 }
}

.div-push {
  width: 10px;
  height: 100vh;
  background: blue;
}

:root {
  --user-pin-color: rgb(124, 69, 69);
  --default-pin-color: rgb(30, 76, 202);
  --sport-pin-color: rgb(26, 190, 240);
  --store-pin-color: rgb(209, 221, 35);
  --dormitory-pin-color: rgb(94, 240, 26);
  --restaurant-pin-color: rgb(240, 140, 26);
  
}

.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--user-pin-color);
  cursor: pointer;
}

.user {
  stroke-width: 3;
  fill: var(--user-pin-color);
  background-color: var(--user-pin-color);
}

.default {
  stroke-width: 3;
  fill: var(--default-pin-color);
  background-color: var(--default-pin-color);
}

.sport {
  stroke-width: 3;
  fill: var(--sport-pin-color);
  background-color: var(--sport-pin-color);
}

.dormitory {
  stroke-width: 3;
  fill: var(--dormitory-pin-color);
  background-color: var(--dormitory-pin-color);
}

.store {
  stroke-width: 3;
  fill: var(--store-pin-color);
  background-color: var(--store-pin-color);
}

.restaurant {
  stroke-width: 3;
  fill: var(--restaurant-pin-color);
  background-color: var(--restaurant-pin-color);
}
